#drag-n-drop-container {
    border: 2px dotted black;
    width: 40%;
    height: 130px;
    margin: 3% auto;
    padding: 20px;
    background: rgb(40, 120, 211);
    text-align: center;
    border-radius: 20px;
}

.btn {
    background: green;
    width: 50px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

#preview-container {
    height: 130px;
    margin: 0 auto;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.thumbnail{
    width: 120px;
    height: 120px;
    margin: 10px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.thumbnail:hover {
    outline: 2px solid rgb(0, 255, 0); 
}

.del {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('./img/close.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;   
}
.del:hover {
    transform: rotate(90deg);
    transition: transform .3s ease-in;
}

.message {
    text-align: center;
    font-size: 28px;
    color: red;
    height: 40px;
}


@media only screen and (max-width: 600px) {
    #drag-n-drop-container{
        width: 70%;
    }
}